/* src/css/index.css */

/* Aplica las fuentes cargadas en index.html */
body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/* Ajustes globales (si quieres override de colores, márgenes, scroll, etc.) */
a {
  text-decoration: none;
}

button:focus {
  outline: none;
}
